.horizontal-menu {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.horizontal-menu li {
    list-style: none;
}

.horizontal-menu a {
    text-decoration: none;
    color: black;
    padding: 8px 12px;
}